<mat-toolbar color="primary" class="app-toolbar">
   <a class="name-app" mat-button routerLink="/">
      <mat-icon>store</mat-icon>
      {{appName}}
   </a>
   <a mat-button class="nav-produtos" routerLink="/produtos" routerLinkActive="active">
      Produtos
   </a>
   <a mat-button class="nav-sobre" routerLink="/sobre" routerLinkActive="active">
      Sobre
   </a>
   <span class="fill-remaining-space"></span>
   <a *ngIf="!authService.nomeUsuario" mat-button class="nav-login" routerLink="/login" routerLinkActive="active">
      Entrar
   </a>
   <a *ngIf="authService.nomeUsuario" mat-button class="nav-login" (click)="signOut()">Sair
   </a>
   <a mat-icon-button class="nav-carrinho" [matBadge]="itemsOrder" [matBadgeHidden]="itemsOrder === '0'"
      matBadgeColor="accent" (click)="toggleCart()">
      <mat-icon>shopping_cart</mat-icon>
   </a>
</mat-toolbar>