<mat-card class="carrinho">
    <mat-card-title class="carrinho-title">Produtos Adicionados</mat-card-title>
    <ng-container *ngIf="pedido.length !== 0; else empty">
      <mat-card-content class="carrinho-content">
        <ul class="carrinho-list">
          <li *ngFor="let item of pedido"
              class="carrinho-item">
            <img [src]="item.produto.imagemUrl"
                 [alt]="item.produto.produtoNome"
                 class="carrinho-item-img">
            <h4>{{item.produto.produtoNome}}</h4>
            <p>{{item.qtd}}x <span class="produto-preco">{{item.precoTotal | currency:'COP':'symbol-narrow':'1.0-0'}}</span></p>
          </li>
        </ul>
        <mat-card-subtitle class="carrinho-item-total">
          Total: {{totalPedido | currency:'COP':'symbol-narrow':'1.0-0'}}
        </mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions class="carrinho-actions">
        <a mat-stroked-button color="accent" (click)="irParaCarrinho()">Ver carrinho</a>
        <a mat-raised-button color="accent" (click)="irParaCompra()">Comprar</a>
      </mat-card-actions>
    </ng-container>
  
    <ng-template #empty>
      <mat-card-subtitle>Nenhum produto adicionado</mat-card-subtitle>
    </ng-template>
  </mat-card>
  
  